.task {
    width:100%;
    z-index: 5;
    font-family: 'SF UI Text', Helvetica, Arial;
    display: flex;
    flex-direction: row;
}

.task:not(:last-child) {
	margin-bottom: 20px;
}

.task .select-task {
	display: flex;
    align-items: center;
}

.task .select-task input{
	display: flex;
    align-items: center;
}

.task input {
    border:none;
    border-bottom: 1px solid #B4B4B4;
    width:100%;
    padding-bottom: 8px;
    padding-left: 5px;
	font-family: 'SF UI Text', Helvetica, Arial;
	
	margin-right: 15px;
}

input[type="checkbox"] {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.task-fields {
    width: 100%;
    min-width: 600px;
}

.task-fields p {
    color:#212020;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}

li p:focus{
    outline: none;
}

.task-fields textarea {
    color:#BBBBC7;
    font-size: 16px;
    width: 50%;
    border:none;
	margin-bottom:10px;
	resize: none;
}

.task-fields .footer-line{
    margin-left: -3vw;
    width: 77vw;
}

textarea:focus{
    outline: none;
}

.task-status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    height: 19px;
    margin-bottom: 1vh;
    color:#212020;
}

.task-status img {
    margin: 0 5px 0 15px;
}

.task-status .priority {
	display: flex;
	align-items: center;
    flex-direction: row;
    width: 10vw;
    min-width: 150px;
}

.task-status .circle {
    margin: 0 10px 0 0;
}

.task .red-priority {
    background-color: #F24A3C;
}

.task .yellow-priority {
    background-color: #F7C920;
}

.task .blue-priority {
    background-color: #2F80ED;
}

.task .grey-priority {
    background-color: #C9C9C9;
}

.task-status p {
    font-weight: 400;
    margin:0;
}