.changepass-content {
    width: 84vw;
    height: 100%;
    margin:0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.changepass-content .reset-arrow {
    margin-top:5vh;
    margin-left:3.8vw;
    align-self: flex-start;
}

.changepass-content .reset-headline{
    text-align: center;
    width:17vw;
    margin-top:15vh;
    margin-bottom: 10vh;
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 24px;
}