.create-panel {
    height: 16.4vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #FFFFFF;
}

.create-panel img {
    cursor: pointer;
    margin-left: 0px;   
}

.create-panel input {
    border:none;
    border-bottom: 1px solid #B4B4B4;
    width:100%;
    padding-bottom: 8px;
    padding-left: 5px;
    font-family: "SF UI Text";
}

.dropdown-menu {
    display: flex;
    flex-direction: row; 
}

.dropdown-menu .clock-select {
    position: absolute!important;
    bottom:7vh;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    width: 8.5vw;
    height: 14.3vh;
    min-width: 100px;
    min-height: 80px;
    border-radius: 8px;
    background: #FFFFFF;
    left:18vw;
    text-align-last: center;
    box-shadow:0 0 10px rgba(0,0,0,0.5)
}

.dropdown-menu .alarm-select {
    position: absolute!important;
    bottom:7vh;
    border-radius: 8px;
    background: #FFFFFF;
    left:22vw;
    text-align-last: center;
    box-shadow:0 0 10px rgba(0,0,0,0.5)
}

.dropdown-menu .priority-select {
    position: absolute!important;
    bottom:7vh;
    border-radius: 8px;
    background: #FFFFFF;
    left:25vw;
    min-width: 100px;
    text-align-last: center;
    box-shadow:0 0 10px rgba(0,0,0,0.5)
}

.footer-dropdown {
    width: 16px;
    height: 16px;
    margin-bottom: 4.3vh;
}

.footer-line {
    border-width: 1px;
    width: 100%;
    margin-bottom: 17px;
    margin-top: 1px;
    background-color: #BBBBC7;
}

.select-alarm {
    margin-left: 2.2vw;
    border-radius: 8px;
    overflow: hidden;
}

.select-clock {
    margin-left: 2.2vw;
    border-radius: 8px;
    overflow: hidden;
}

.select-priority {
    margin-left: 2.2vw;
    border-radius: 8px;
    overflow: hidden;
}

.footer-send {
    font-family: "SF UI Text";
    color:#2F80ED;
    font-size: 16px;
    margin-left: auto;
    cursor: pointer;
}

.footer-dropdown .react-datepicker {
    position: absolute!important;
    height: 31vh;
    min-height: 230px;
    bottom:7vh;
    left:12vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: "SF UI Text"!important;
    font-weight: 500;
}

.footer-dropdown .react-datepicker__header {
    background: #FFFFFF;
}

.footer-dropdown .react-datepicker__day--selected {
    background-color: #2F80ED;
    border-radius: 50%;
}

.footer-dropdown .react-datepicker__day--selected:hover {
    background-color: #2F80ED;
    border-radius: 50%;
}

.footer-dropdown .react-datepicker__day:hover {
    border-radius: 50%;
    background-color: #f0f0f0;
}

.clock-select .part-clock {
    display: flex;
    min-width: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: auto;
}

.part-clock p {
    margin:10px 0;
    font-size: 20px;
    font-weight: 500;
}

.part-clock img {
    width: 13px;
    height: 7px;
}

.alarm-select div {
    text-align: center;
    font-family: "SF UI Text";
    font-size: 12px;
    width: 7vw;
    min-width: 80px;
    margin:10px 0;
    font-weight: 600;
    cursor: pointer;
}

.priority-select div {
    display: flex;
    flex-direction: row;
    align-items:center;
    text-align: center;
    font-family: "SF UI Text";
    font-size: 12px;
    width: 7.7vw;
    min-width: 12px;
    margin:10px 0;
    font-weight: 600;
    cursor: pointer;
}

.clock-select div {
    text-align: center;
    font-family: "SF UI Text";
    font-size: 12px;
    width: 7vw;
    min-width: 80px;
    margin:10px 0;
    font-weight: 600;
    cursor: pointer;
}

.priority-select .circle {
    margin-left: 1vw;
    margin-right: 1vw;
}