.start{
    width:100%;
    height: 100%;
    display: flex;
}

.start .side-background{
    width:47vw;
    background-size: cover;
    background-image: url('/img/bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
}